<%= button_tag "Start Tweets", :type => 'button', :id => "js-start-tweets" %>
<%= button_tag "Stop Tweets", :type => 'button', :id => "js-stop-tweets" %>

<ol id="js-tweets" class="tweets"></ol>

<script id="tweet-template" type="text/x-handlebars-template">
  <li class="tweet">
    <div class="tweet-header">
      <a href="https://twitter.com/{{username}}" class="tweet-username">{{username}}</a>
    </div>
    <p class="tweet-text">{{text}}</p>
    <div class="tweet-footer">
      <a href="https://twitter.com/{{username}}/status/{{id}}" class="tweet-link">Tweet Link</a>
    </div>
  </li>
</script>
