body {
  background-image: url('old_moon.png');
  color: #291D1D;
  font-size: 18px;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.header-search-form {
  display: inline-block;
}

.header-button {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 1px 1px 0 #fff;
  color: #333;
  white-space: nowrap;
  outline: none;
  background-color: #ececec;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -moz-linear-gradient(#f4f4f4, #ececec);
  background-image: -ms-linear-gradient(#f4f4f4, #ececec);
  background-image: -o-linear-gradient(#f4f4f4, #ececec);
  background-image: linear-gradient(#f4f4f4, #ececec);
  background-clip: padding-box;
  border-radius: 0.2em;
}

.header-button:hover,
.header-button:focus,
.header-button:active,
.header-button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.header-button:active,
.header-button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

.header-input {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 0.5em 1em;
  border: 1px solid #d4d4d4;
  margin: 0;
}

.stream {
  max-width: 600px;
  margin: 10px auto 0 auto;
}

.tweets {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #999;
}

.tweet {
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #999;
}

.tweet:hover {
  background-color: #f5f5f5;
}

.tweet-header {
  margin: 0 0 6px 0;
}

.account-link {
  color: black;
  text-decoration: none;
}

.account-link:hover .name {
  text-decoration: underline;
}

.avatar {
  float: left;
  margin-right: 8px;
  width: 48px;
  height: 48px;
}

.name {
  display: block;
}

.tweet-text {
  margin: 0;
}

.tweet-footer {
  padding-top: 5px;
  font-size: 12px;
}

.tweet-link {
  color: #999;
  text-decoration: none;
}

.tweet-time {
  color: #999;
  float: right;
}

.tweet-link:hover {
  text-decoration: underline;
}

.stream-end {
  padding-bottom: 100px;
}

.stream-end-message {
  margin: 0;
  text-align: center;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #999;
}

.classification-group {
  margin-top: 10px;
}
