body {
  background-image: url('old_moon.png');
  color: #291D1D;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.tweets {
  max-width: 600px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #999;
}

.tweet {
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #999;
}

.tweet:hover {
  background-color: #f5f5f5;
}

.tweet-header {
  margin: 0 0 6px 0;
}

.account-link {
  color: black;
  text-decoration: none;
}

.account-link:hover .name {
  text-decoration: underline;
}

.avatar {
  float: left;
  margin-right: 8px;
}

.name {
  display: block;
}

.tweet-text {
  margin: 0;
}

.tweet-footer {
  padding-top: 5px;
}

.tweet-link {
  font-size: 12px;
  color: #999;
  text-decoration: none;
}

.tweet-link:hover {
  text-decoration: underline;
}